@model SocialNetworkFinalProject.ViewModels.LoginViewModel


@{
	ViewData["Title"] = "Login";
}
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="block-reg background-white">
	<H4 class="center">Войти</H4>
<form class="frm" method="post" asp-controller="AccountManager" asp-action="Login">
	<div asp-validation-summary="ModelOnly"></div>
	<div>
		<div class="mrgn">
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		
	</div>
	<div>
		<div class="mrgn">
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		
	</div>
	<div>
		<input class="enter_submit" type="submit" value="Войти" />
	</div>
</form>
</div>
