body {
}

.main{
    -ms-flex: 40;
    flex: 40%;
    padding: 20px;
}

.side{
    -ms-flex: 60%;
    flex: 60%;
    padding: 20px;
}

.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #edeef0;
}

.topnav {
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: white;
    overflow: hidden;
}
    .topnav a {
        float: left;
        padding: 16px;
        display:block;
        text-align:center;
    }
    .topnav input[type=text] {
        padding: 6px;
        border:none;
        margin-top:6px;
        
    }

.main-img{
    width:100%;
    max-width:max-content;
}
.gray-text {
    color: darkgray;
}


.background-main {
    background-color: #edeef0;
}

.background-white {
    background-color: white;
}

.block-reg {
    margin: 20px;
    padding: 30px;
    align-content: center;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 0, 0 0 0 1px #edeef0;
}

.frm {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mrgn {
    margin: 5px;
}

.center {
    text-align: center;
    align-content: center;
    margin: 5px;
}
.lined-block {
    border-right: 0;
    border-left: 0;
    border-bottom: 1px;
    border-top: 1px;
    border-color: #ddd;
    padding: 10px;
    border-style: dashed;
    margin: 10px;
}

.enter_submit {
    background-color: #5181b8;
    color: white;
    padding: 14px 20px;
    margin: 8px 2px;
    border: none;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn_submit {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.date_control {
    width: 25%;
    display: inline;
    min-width: max-content;
}

.date_box {
    width: 100%;
}
.date_control {
    width: 25%;
    display: inline;
    min-width: max-content;
}
.align-right {
    float: right;
}
.center-align {
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ava {
    width: 100%;
    max-width: max-content;
}
.friendcontainer {
    overflow: hidden;
}
.min-width-but {
    max-width: 150px;
    width: 100%;
}
.friendbox {
    white-space: nowrap
}

.friendbox .datadiv {
    display: inline-block;
    max-width: 150px;
}
